<!DOCTYPE html>

<html lang="en">
<head>

    @model loginRegistration.Models.HomePageUsers

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login and Register!</h1>
    <hr>
    @Html.Partial("Register", Model.RegisterUser)
    @Html.Partial("Login", Model.LoginUser)
    @foreach(var user in Model.Users)
    {
        <p>@user["FirstName"]</p>
    }
</body>
</html>
