<!DOCTYPE html>
<html lang="en">
<head>
        @model loginRegistration.Models.LoginUser

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>  
    <form asp-action="Login" asp-controller="User" method="post">
        <span asp-validation-for="LogEmail"></span>
        <label asp-for="LogEmail"></label>
        <input asp-for="LogEmail" type="text">

        <span asp-validation-for="LogPassword"></span>
        <label asp-for="LogPassword"></label>
        <input asp-for="LogPassword">

        <p><input type="submit" value="Login"></p>
    </form>
    
</body>
</html>